<!DOCTYPE html>
<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>dimaborzov.com/texts/{{title}} ({{full_title }})</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="./css/_pygments.css" type="text/css">
      <style type="text/css"></style>
      <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
  </head>
  <body screen_capture_injected="true">
    <div class="container">
      <div class="header">
        <a href="http://dimaborzov.com">Dima Borzov</a>'s code and writings<br>
        <a href="http://dimaborzov.com">dimaborzov.com</a> / texts / {{title}}

      </div>
      <div class="navigation">
        <ul>
          <li><a href="https://github.com/dborzov"><img src="./css/octocat.png" width="20">Github</a>
        </li></ul>
      </div>

      <div class="body">