<!DOCTYPE html>
<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title>EVERYBODY LOVES HYPNOTOAD</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="./css/_pygments.css" type="text/css">
      <style type="text/css"></style>
  </head>
  <body screen_capture_injected="true">
    <div class="container">
      <div class="header">
        <a href="http://dimaborzov.com">Dima Borzov</a>'s code and writings
      </div>
      <div class="navigation">
        <ul>
          <li><a href="http://ca.linkedin.com/pub/dima-borzov/69/58/533/"><img src="./css/linkedin.png" width="20">LinkedIn</a>
          </li><li><a href="https://github.com/dborzov"><img src="./css/octocat.png" width="20">Github</a>
        </li></ul>
      </div>
      <div class="body">